@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: hsl(40.67, 10%, 20%);
  color: white;
  font-size: 16px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.page-container {
  width: min(1000px, 100%);
  height: 100%;
  background-color: black;
}
