.bar {
  transition: width 300ms ease-in-out, opacity 600ms ease-in-out;
  background-color: hsl(215, 100%, 50%);
  height: 4px;
  position: absolute;
  left: 0;
  z-index: 1;
}

.not-finished {
  width: 10%;
}

.finished {
  width: 100%;
  opacity: 0;
}
