nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navbar-wrapper {
  height: var(--navbar-height);
  background-color: hsl(25, 85%, 57.5%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid hsl(35, 100%, 40%);
}

.navbar-content {
  width: var(--content-width);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.right-logo {
  margin-left: auto;
}

.logo {
  width: 36px;
  height: 36px;
}
