name: Compile server on pull request
on:
  pull_request:
    paths:
      - "server/**"
jobs:
  build_server:
    if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: (cd server && npm ci)
      - run: (cd server && npm run build)
      - run: (cd server && npm run test)
